DB_HOST=127.0.0.1
DB_USER=
DB_PASSWORD=
DB_NAME=db_docisis
DB_PORT=3306
JWT_SECRET=

ADMIN_CONTACT_NAME=Geraldo
ADMIN_CONTACT_EMAIL=geraldo_adm@docisis.com
ADMIN_CONTACT_PHONE=11223459067
ADMIN_CONTACT_INSTAGRAM=